.TEXT_STYLE {
    position: relative;
    width: 90%; /* Задаем ширину текстового поля */
    padding: 10px; /* Задаем внутренний отступ */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Граница текстового поля */
    border-radius: 5px; /* Скругляем углы */
    outline: none; /* Убираем контур фокуса (по умолчанию) */
}

    /* Стиль при фокусе на текстовом поле */
    .TEXT_STYLE:focus {
        border-color: #007bff; /* Изменяем цвет границы при фокусе */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Добавляем тень при фокусе */
    }
