.text_c {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 2%;
    background-image: linear-gradient(45deg, #4CAF50 0%, #ffeb3b73 51%, #10cd6f 100%);
    border-radius: 15px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0px;
    height: 240px;
}

.buttons {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 702px;
}

#TextBox1 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}


#TextBox2 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox3 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox4 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox5 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#Button1 {
    position: relative;
    margin-right: 10px;
    border-top: 0px;
   top: 0px;
    left: 0px;
}

#Button2 {
    position: relative;
    margin-right: 10px;
}

#Button3 {
    position: relative;
    margin-right: 10px;
}

#Button4 {
    position: relative;
    margin-right: 10px;
}

#Button5 {
    position: relative;
    margin-right: 10px;
}

#Button6 {
    position: relative;
    margin-right: 10px;
}


#TextBox7 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox8 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox9 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox10 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox11 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox12 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

.text_s {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 2%;
    background-image: linear-gradient(45deg, #4CAF50 0%, #ffeb3b73 51%, #10cd6f 100%);
    border-radius: 15px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0px;
    height: 295px;
    top: 0px;
}

#TextBox14 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox15 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox16 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox17 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox18 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
}

#TextBox19 {
    position: relative;
    margin-bottom: 5%;
    width: 80%;
    top: 0px;
    left: 0px;
}

.text_r {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 2%;
    background-image: linear-gradient(45deg, #4CAF50 0%, #ffeb3b73 51%, #10cd6f 100%);
    border-radius: 15px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0px;
    height: 295px;
    top: 0px;
}
