.floating-button {
    text-decoration: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

    .floating-button:hover {
        background: #000000;
        box-shadow: 0 15px 20px #524f4e;
        color: white;
        transform: translateY(-9px);
    }

.glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #524f4e inset, 0 0 0 0 #524f4e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    width: 20%;
}

    .glow-button:hover {
        box-shadow: 0 0 10px 0 #524f4e inset, 0 0 10px 4px #524f4e;
        color: #524f4e;
    }